*.exe
*.a
*.o
*.so
*.dylib
*.lib
*.cmx
*.cmxa
*.cma
*.cmi
*.cmo
*.native
*.byte
*.out
.ipynb_checkpoints
_build
CMakeLists.txt.user
build-*-Desktop-Debug
build-*-Desktop-Release
.project
.build_eclipse
.build_ninja
.DS_Store
.build
CMakeCache.txt
CMakeFiles/*
CMakeFiles
cmake_install.cmake
.vscode
